TestsUnitairesService.cs/Service References/ServiceReferenceQuidditch/ServiceQuidditch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceQuidditch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuidditchService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceQuidditch_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllCoupes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllCoupes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllEquipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllEquipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetJoueursOfEquipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJoueursOfEquipe" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetJoueursOfEquipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJoueursOfEquipeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllStades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStades" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetMatchsOfCoupe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchsOfCoupe" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetMatchsOfCoupe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchsOfCoupeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_ReserverPlaces_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserverPlaces" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_ReserverPlaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserverPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetSpectateurById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpectateurById" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetSpectateurById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpectateurByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetMatchById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchById" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetMatchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllMatchs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchs" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllMatchs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllSpectators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpectators" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllSpectators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpectatorsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservations" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_AnnulerReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:AnnulerReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_AnnulerReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnnulerReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceQuidditch">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/CreateUser" message="tns:IServiceQuidditch_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/CreateUserResponse" message="tns:IServiceQuidditch_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/CheckUser" message="tns:IServiceQuidditch_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/CheckUserResponse" message="tns:IServiceQuidditch_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCoupes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllCoupes" message="tns:IServiceQuidditch_GetAllCoupes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllCoupesResponse" message="tns:IServiceQuidditch_GetAllCoupes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllEquipes" message="tns:IServiceQuidditch_GetAllEquipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllEquipesResponse" message="tns:IServiceQuidditch_GetAllEquipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJoueursOfEquipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetJoueursOfEquipe" message="tns:IServiceQuidditch_GetJoueursOfEquipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetJoueursOfEquipeResponse" message="tns:IServiceQuidditch_GetJoueursOfEquipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllStades" message="tns:IServiceQuidditch_GetAllStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllStadesResponse" message="tns:IServiceQuidditch_GetAllStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchsOfCoupe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetMatchsOfCoupe" message="tns:IServiceQuidditch_GetMatchsOfCoupe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetMatchsOfCoupeResponse" message="tns:IServiceQuidditch_GetMatchsOfCoupe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetUtilisateur" message="tns:IServiceQuidditch_GetUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetUtilisateurResponse" message="tns:IServiceQuidditch_GetUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserverPlaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/ReserverPlaces" message="tns:IServiceQuidditch_ReserverPlaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/ReserverPlacesResponse" message="tns:IServiceQuidditch_ReserverPlaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpectateurById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetSpectateurById" message="tns:IServiceQuidditch_GetSpectateurById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetSpectateurByIdResponse" message="tns:IServiceQuidditch_GetSpectateurById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetMatchById" message="tns:IServiceQuidditch_GetMatchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetMatchByIdResponse" message="tns:IServiceQuidditch_GetMatchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMatchs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllMatchs" message="tns:IServiceQuidditch_GetAllMatchs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllMatchsResponse" message="tns:IServiceQuidditch_GetAllMatchs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSpectators">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllSpectators" message="tns:IServiceQuidditch_GetAllSpectators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllSpectatorsResponse" message="tns:IServiceQuidditch_GetAllSpectators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllReservations" message="tns:IServiceQuidditch_GetAllReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllReservationsResponse" message="tns:IServiceQuidditch_GetAllReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnnulerReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/AnnulerReservation" message="tns:IServiceQuidditch_AnnulerReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/AnnulerReservationResponse" message="tns:IServiceQuidditch_AnnulerReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceQuidditch" type="tns:IServiceQuidditch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCoupes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllCoupes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllEquipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJoueursOfEquipe">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetJoueursOfEquipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStades">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchsOfCoupe">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetMatchsOfCoupe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserverPlaces">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/ReserverPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpectateurById">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetSpectateurById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetMatchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMatchs">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllMatchs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSpectators">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllSpectators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnulerReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/AnnulerReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceQuidditch">
    <wsdl:port name="BasicHttpBinding_IServiceQuidditch" binding="tns:BasicHttpBinding_IServiceQuidditch">
      <soap:address location="http://localhost:58720/ServiceQuidditch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>