TestsUnitairesService.cs/Service References/ServiceReferenceQuidditch/ServiceQuidditch2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuidditchService" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inPasswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoupes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoupesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuidditchService" minOccurs="0" name="GetAllCoupesResult" nillable="true" type="q1:ArrayOfSCoupe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEquipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEquipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuidditchService" minOccurs="0" name="GetAllEquipesResult" nillable="true" type="q2:ArrayOfSEquipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJoueurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJoueursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuidditchService" minOccurs="0" name="GetAllJoueursResult" nillable="true" type="q3:ArrayOfSJoueur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>