TestsUnitairesService.cs/Service References/ServiceReferenceQuidditch/ServiceQuidditch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuidditchService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuidditchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSCoupe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCoupe" nillable="true" type="tns:SCoupe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCoupe" nillable="true" type="tns:ArrayOfSCoupe" />
  <xs:complexType name="SCoupe">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCoupe" nillable="true" type="tns:SCoupe" />
  <xs:complexType name="SEntityObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SEntityObject" nillable="true" type="tns:SEntityObject" />
  <xs:complexType name="ArrayOfSEquipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SEquipe" nillable="true" type="tns:SEquipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSEquipe" nillable="true" type="tns:ArrayOfSEquipe" />
  <xs:complexType name="SEquipe">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SEquipe" nillable="true" type="tns:SEquipe" />
  <xs:complexType name="ArrayOfSJoueur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SJoueur" nillable="true" type="tns:SJoueur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSJoueur" nillable="true" type="tns:ArrayOfSJoueur" />
  <xs:complexType name="SJoueur">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SPersonne">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SJoueur" nillable="true" type="tns:SJoueur" />
  <xs:complexType name="SPersonne">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SPersonne" nillable="true" type="tns:SPersonne" />
  <xs:complexType name="ArrayOfSStade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SStade" nillable="true" type="tns:SStade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSStade" nillable="true" type="tns:ArrayOfSStade" />
  <xs:complexType name="SStade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SStade" nillable="true" type="tns:SStade" />
  <xs:complexType name="ArrayOfSMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMatch" nillable="true" type="tns:SMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMatch" nillable="true" type="tns:ArrayOfSMatch" />
  <xs:complexType name="SMatch">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMatch" nillable="true" type="tns:SMatch" />
  <xs:complexType name="SUtilisateur">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SUtilisateur" nillable="true" type="tns:SUtilisateur" />
  <xs:complexType name="SSpectateur">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SPersonne">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SSpectateur" nillable="true" type="tns:SSpectateur" />
  <xs:complexType name="ArrayOfSSpectateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SSpectateur" nillable="true" type="tns:SSpectateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSSpectateur" nillable="true" type="tns:ArrayOfSSpectateur" />
  <xs:complexType name="ArrayOfSReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SReservation" nillable="true" type="tns:SReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSReservation" nillable="true" type="tns:ArrayOfSReservation" />
  <xs:complexType name="SReservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SEntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SReservation" nillable="true" type="tns:SReservation" />
</xs:schema>