TestsUnitairesService.cs/Service References/ServiceReferenceQuidditch/ServiceQuidditch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceQuidditch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58720/ServiceQuidditch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuidditchService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceQuidditch_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllCoupes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllCoupes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllEquipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllEquipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllJoueurs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJoueurs" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetAllJoueurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJoueursResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IServiceQuidditch_GetUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceQuidditch">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/CreateUser" message="tns:IServiceQuidditch_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/CreateUserResponse" message="tns:IServiceQuidditch_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCoupes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllCoupes" message="tns:IServiceQuidditch_GetAllCoupes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllCoupesResponse" message="tns:IServiceQuidditch_GetAllCoupes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllEquipes" message="tns:IServiceQuidditch_GetAllEquipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllEquipesResponse" message="tns:IServiceQuidditch_GetAllEquipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJoueurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllJoueurs" message="tns:IServiceQuidditch_GetAllJoueurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetAllJoueursResponse" message="tns:IServiceQuidditch_GetAllJoueurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuidditch/GetUtilisateur" message="tns:IServiceQuidditch_GetUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuidditch/GetUtilisateurResponse" message="tns:IServiceQuidditch_GetUtilisateur_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceQuidditch" type="tns:IServiceQuidditch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCoupes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllCoupes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllEquipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJoueurs">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetAllJoueurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IServiceQuidditch/GetUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceQuidditch">
    <wsdl:port name="BasicHttpBinding_IServiceQuidditch" binding="tns:BasicHttpBinding_IServiceQuidditch">
      <soap:address location="http://localhost:58720/ServiceQuidditch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>